#search-input,
.dataTable-filter {
  max-width: unset !important;
}

.cursor {
  cursor: pointer !important;
}


#users-data-table {

  .rdt_TableCell,
  .rdt_TableCol {
    padding: .72rem;

    &:first-child {
      padding-left: 1.5rem;
    }

    &:last-child {
      padding-right: 1.5rem;
    }
  }
}

.color_licensePlates {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.color_white {
  background-color: white;
}

.color_blue {
  background-color: blue;
  color: white;
}

.color_yellow {
  background-color: yellow;
}

.color_red {
  background-color: red;
  color: white;
}

.licensePlates {
  margin-top: 10px;
  padding: 15px 45px;
  border-radius: 5px;
  border: 1px solid black;
}

.clear_text{
  display: none;
}
.click_row{
  cursor: pointer;
  color: #66CCFF		;
  text-decoration: underline;
}
.label_color{
  color: #0870d9;
  font-size: 13px;
}
.font{
  font-size: 12px;
}
p{
  margin-top: revert;
}