.olnine {
    .text_olnine {
      border-radius: 10px;
      padding: 5px 10px;
      background-color: red;
      margin-top: 14px;
      color: white;
    }
  }
  .circle_blue {
    background-color: chartreuse;
    margin-top: 14px;
    border-radius: 10px;
    padding: 5px 10px;
  }