.color_licensePlates {
  width: 95px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  font-weight: 600;
}

.color_white {
  background-color: white;
  color: black;
}

.color_blue {
  background-color: blue;
  color: white;
}

.color_yellow {
  background-color: yellow;
  color: black;
}

.color_red {
  background-color: red;
  color: white;
}

.pointer {
  cursor: pointer;
}
