@import '../node_modules/prismjs/themes/prism-tomorrow';
@import './assets/scss/app.scss';

.container-input {
  &-file {
    position: relative;
    width: 100%;
    aspect-ratio: 181/128;
    border: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

    &:hover {
      .icon-remove {
        opacity: 1;
        visibility: visible;
      }
    }

    .input-file {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }

    .icon-remove {
      position: absolute;
      top: -13.5px;
      right: -13.5px;
      background: #a185e1;
      border-radius: 50%;
      padding: 5px;
      color: #fff;
      cursor: pointer;
      width: 27px;
      height: 27px;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
    }
  }
}

 .custom-select-dropdown,
 .ant-select-selection-item {
  font-family: inherit !important;
  color: #5e5873 !important;
 }
